{% extends 'operations_base.html' %}

{% block body %}

    <h1 style="text-align:center; margin-top: 50px;">COD Reconcilation</h1> 
    <title>COD Reconcilation - Operations</title>


<div class="sectioncust" style="margin-top:30px;"> 
  <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h4 class="m-0 font-weight-bold text-info">COD Reconcilation</h4> 
              <a style="display:inline" href="/operationsapp/" class="btn btn-sm btn-success float-right" role="button">CSV</a>
          </div>
          <div class="card-body" style="max-height: 600px;"> 
              <div style="overflow: scroll; max-height: 570px;">
                  {% if d1|length  %}
                  <table class="table table-bordered table-light" id="myTable">

                    <thead>
                      <tr>
                        {% for col in d1col %}
                        <th style="text-align: center;">{{col}}</th>   
                        {% endfor %}
                      </tr> 
                    </thead>
                    
                    <tbody>
                      {%for i in d1%}
                          <tr>
                            {%for k in i%}
                                <td>{{ k }}</td>
                            {%endfor%}
                          </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                  {% endif %}    
              </div>
          </div>
      </div>
  </div>
</div>

  



<script>
  
  // datatable
  $(document).ready( function () { 
      $('#myTable').DataTable({ 
      });

      const menuItem = document.querySelectorAll(".mainmenu li");
      menuItem[1].className = "active"; 
  }); 
  // datatable

</script>




{% endblock %}




