{% extends "base.html" %}
{% block body %}
<br></br>
<h2 style="text-align:center" href="/">SIGN IN PAGE</h2>

<title>Login - Sourceinfi Analytics</title> 

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
           
            <div>
                Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
            </div> 
            
        </div>
    </div>
</div>
{% endblock %}


